---
import Layout from '../layouts/Layout.astro';
import { ListProductos } from '../components/ListProductos';
import { getCollection } from 'astro:content';

const medicines = await getCollection('medicine')

---

<Layout title="Persa">
	<main>
		<ListProductos client:load medicines={medicines}>
	</main>
</Layout>
